body{
	background:url('../imagenes/reservaciones/fondo.png')no-repeat;
	background-size:100% auto;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
#fondoRes{
	background:#e65a25;
    color: #fff;
    height: 392px;
    width: 47%;
	margin:0 auto;	
	margin-top:110px;
	margin-bottom:118px;
}

#cerrardefini {
	float: left;
	width: 28%;
}
#fondoconten {
    background: none repeat scroll 0 0 #fff;
    color: #575759;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 8px;
    text-align: center;
    width: 96%;
}
.rowschat {
    height: 60px;
    width: 100%;
}
.rowschat input {
    border: 2px solid #ca9d96;
    height: 40px;
    width: 70%;
}

#ingresareserva{
    height: 32px;
    margin: 0 auto 7px;
    width: 186px;
}

.btnchats {
    background: none repeat scroll 0 0 #ff5a19;
    border-bottom: 3px solid #717171;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
    text-align: center;
}
#fondoRes h1 {
    float: left;
    font-size: 25px;
    margin: 0;
    padding-left: 4px;
    width: 70%;
}

.contefondochat {
    float: left;
    width: 100%;
}
.rowsenviores{
	width:100%;
	height:auto;
	float:left;
}

label.error{
	color:#860C0F;
	font-size:13px;
	display:block;
	margin-top:-17px;
}