body{
	background:url('../imagenes/reservaciones/fondo.png')no-repeat;
	background-size:100% 100%;
	padding:0;
	margin:0;
}
.emailss{
	width:100%;
	height:400px;
	float:left;
	display:none;
}
.areamensaje{
width:100%;
height:293px;
}
.areamensaje1{
width:100%;
height:293px;
}
#areamensaje1{
width:100%;
height:293px;
}
#va_ce{
	margin:0 auto;
	width: 115px;
	height: 30px;
	margin-top: 16px;
	padding-top:10px;
}
.conversacion_us{
	width:100%;
	height:auto;
}

#fondoRes{
	background:#e65a25;
    color: #fff;
    height: auto;
    width: 95%;
	margin:0 auto;	
	margin-top:110px;
	margin-bottom:118px;
	padding-bottom:5px;
}

#fondoRes h1 {
    font-size: 25px;
    margin: 0 auto;
    padding-left: 4px;
    width: 70%;
	text-align:center;
}

#fondoconten {
    background:#fff;
    color: #575759;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 98%;
	margin-bottom:5px;
}

.rowschat {
    height: 40px;
    width: 100%;
}

.btnchats {
    background: none repeat scroll 0 0 #ff5a19;
    border-bottom: 3px solid #717171;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#usuariosconect{
	width:35%;
	float:left;
	height:auto;
}

#areaconversacion{
	width:65%;
	float:left;
	height:auto;
}

#n_usuarios{
	background:#801214;
	width:100%;
	height:47px;
	color:#FFF;
	text-align:center;
}
.c_conectados{
	border-bottom:1px solid #8a3324;
	float:left;
	width:97%;
	height:76px;
	padding-top:8px;
	padding-left:1.5%;
	padding-right:1.5%;
}
.c_conectados:hover, .active{
	background:#ebeaea;
	cursor:pointer;
}

.imaclient{
	float:left;
}

.info_clientes{
	width:60%;
	height:auto;
	float:left;
}

.info_clientes span{
	float:left;
	line-height: 1;
	width:100%;
}

.tiempoconect{
	width:90%;
	font-size:12px;
}

.cerrar_c{
	width:10%;
	float:left;
	text-align:center;
	position:relative;
	z-index:9999999;
	display:block;
	
}

.tam17{
	font-size:17px;
}

.tam13{
	font-size:13px;
}

.estado_ti{
	width:28px;
	height:23px;
	border-radius:50%;
	color:#FFF;
	text-align:center;
	padding-top:5px;
	/*display:none;*/
}

.tiempo_no{
	background:#43ac6c;
}

.tiempo_ex{
	background:#df0209;
}

.tiempo_me{
	background:#f7b63b;
}

#logoparhik{
	float:right;
}
#liston_info{
	background:#801214;
	color:#FFF;
	width:100%;
	height:60px;
	float:left;
}

#liston_info img{
    float: left;
    margin-left: 18px;
    position: relative;
    margin-top: -24px;
	border:5px solid #e65a25;
	border-radius: 50%;
	overflow:hidden;
}
#infor_reserva{
	float:left;
	width:35%;
	padding-left: 7px;
}
.cliente_activoc{
	margin-top:40px;
	float:left;
	height:76px;
	width:98%;
	border-top:1px solid #a66358;
	border-bottom:1px solid #a66358;
	background:#ebeaea;
	padding-left:2%;
	padding-top:8px;
	display:none;
}

#cierresesion{
	width:30%;
	float:left;
}

#session_c{
	float:right;
	width:115px;
	height:24px;
	margin-top:16px;
}

#info_cli{
	float:left;
	width:60%;
	padding-left:10px;
}

#cerrar_cliente{
	float:left;
	width:20%;
	text-align:right;
	cursor:pointer;
}

#tiempo_conect{
	float:left;
	width:20%;
	text-align:center;
}

#chats_reservacion{
	width:100%;
	height:426px;
	float:left;

}

#envio_emailreser{
	width:100%;
	float:left;
	height:auto;
	margin-bottom:10px;
}

.col70c{
	width:75%;
	float:left;
	text-align:center;
}

.col30c{
	width:25%;
	float:left;
}

#chatre{
	width:95%;
	margin:0 auto;
	border:1px solid #ac6a5e;
	height:75px;
	font-size:22px;
}
#enviar_r{
	width:139px;
	height:31px;
	margin:0 auto;
	padding-top:10px;
	font-size:18px;
}

/*globo*/
.calloutUp { 
height: 0; 
width: 0; 
border-bottom: 12px solid #ffffff; 
border-left: 12px dotted transparent; 
border-right: 12px dotted transparent; 
left: 0px; 
top: 0px; 
margin-left: 20px; 
z-index: 10; 
} 

.calloutUp1 { 
height: 0; 
width: 0; 
border-bottom: 12px solid #ffffff; 
border-left: 12px dotted transparent; 
border-right: 12px dotted transparent; 
left: 0px; 
top: 0px; 
margin-left: 550px; 
z-index: 10; 
} 

.calloutUp2 { 
position: relative; 
left: 0; 
top: 25px;
height: 0; 
width: 0; 
border-bottom: 10px solid #ebeaea; 
border-left: 10px dotted transparent; 
border-right: 10px dotted transparent; 
z-index: 11; 
}

.divContainerUp { 
background-color: #ebeaea; 
border: solid 1px #ffffff; 
position: relative; 
top: -1px;
z-index: 9; 
width:95%; 
margin:0 auto;
padding: 4px; 
border-radius:7px;	
height:auto;
margin-top:22px;
font-size:22px;
}

.nombres_pers{
float:left;
display:block;
position:relative;
left:10px;
font-size:21px;
}

.nombres_pers1{
float:right;
display:block;
position:relative;
right:40px;
font-size:21px;
}

.content{
	height:405px;
}

.content10{
	height:293px;
}
.content11{
	height:250px;
}

#areausucon{
	width:100%;
	float:left;
	height:auto;
}

#nuevosmensajes{
	width:100%;
	float:left;
	height:auto;
}

.areamensaje p{
text-align:center;
font-size:15px;
background:#801214;
height:40px;
width:100%;
color:#FFF;
margin:0;
padding-top:7px;
}

.formatotext{
	font-size:18px;
}

.positions{
	float:left;
}

.formatofecha{
	font-size:13px;
	float:right;
}

.formatos{
	font-size:15px;
}

#oc_men{
width: 139px;
height: 31px;
margin: 0 auto;
padding-top: 10px;
font-size: 18px;
}

